/* Style for the note container */
.note {
    width: 200px;
    height: auto; /* Let the height adjust to content */
    min-height: 200px; /* Set the minimum height to maintain the default size */
    margin: 5px;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    float:left;
    overflow: hidden;
    position: relative;
    border-radius: 1px;
}

/* Import the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* Apply the imported Google Font to the text in the notes */
.note-content {
    font-family: "Patrick Hand", sans-serif; /* Use the exact font name you selected */
    font-size: 1.5vw; /* Adjust this value as needed */
    flex: 1; /* Allow the content to grow vertically and occupy available space */
    overflow: visible;
}

/* Styling for the time remaining section */
.note .timeRemaining {
    font-weight: bold; /* Bold font for time remaining text */
}

/* Styling for the note footer (time remaining section and delete button) */
.note-footer {
    position: absolute; /* Absolute positioning to move the footer to the bottom left of the note */
    bottom: 5px; /* Distance from the bottom of the note */
    left: 5px; /* Distance from the left of the note */
}

/* Styling for the container that holds the notes */
.container {
    display: center; /* Use flexbox to horizontally center the 'Create Note' button */
    justify-content: center; /* Horizontally center the button */
    align-items: center; /* Align the button to the top of the container */
    margin-top: 20px; /* Space between the button and the notes */
    height: 100%;
    box-shadow: none;
}

/* Styling for the 'Create Note' button */
button {
    background-color: #FFFFFF; /* Background color of the button */
    color: black; /* Text color of the button */
    padding: 10px 20px; /* Padding inside the button */
    border: 1px solid black; /* Border around the button */
    border-radius: 4px; /* Rounded corners for the button */
    font-size: 12px; /* Font size of the button text */
    cursor: pointer; /* Set cursor to indicate the button is clickable */
}

/* Styling for the delete button (X symbol) */
.delete-button {
    position: absolute; /* Absolute positioning to place the delete button within the note */
    top: 5px; /* Distance from the top of the note */
    right: 8px; /* Distance from the right of the note */
    font-size: 24px; /* Font size of the X symbol */
    cursor: pointer; /* Set cursor to indicate the button is clickable */
}

.center-content {
    text-align: center; /* Center-align the content horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
    padding: 5px;
    box-shadow: none;
}