.note {
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 20px;
    float: left;
    overflow: hidden;
    background-color: #FFFFCC;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.note .timeRemaining {
    font-weight: bold;
}

.note button {
    margin-top: 10px;
}

.note-footer {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}