@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-color: #FFFFFF;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.note {
    width: 200px;
    height: auto;
    min-height: 200px;
    margin: 5px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.note-content {
    font-family: "Patrick Hand", sans-serif;
    font-size: 16px;
    flex: 1;
    overflow: visible;
    text-align: left;
    color: #000000; /* Improved visibility */
}

@media only screen and (max-width: 600px) {
    .note-content {
        font-size: 14px;
    }
}

.note .time-remaining {
    font-family: "Doris", sans-serif;
    position: absolute; /* Position the element absolutely within its parent .note */
    bottom: 5px; /* Position from the bottom */
    right: 5px; /* Position from the left */
    color: #333; /* Optional: Set the text color */
    font-size: 0.8em; /* Optional: Adjust the font size */
    padding: 5px 5px 5px 5px;
}

.note-footer {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.container {
    display: block;
    text-align: center;
    margin-top: 20px;
    height: 100%;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 255);
}

.delete-button {
    font-family: 'Dosis', sans-serif;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 18px;
    cursor: pointer;
}

.center-content {
    font-family: "Dosis", sans-serif;
    text-align: center;
    padding: 10px 0;
}

.center-content input,
.center-content button {
    display: block; /* Make the input and button take the full width of the container */
    margin: 10px auto; /* Center them horizontally and add some space between them */
    width: 20%; /* Adjust the width as per your design */
    max-width: 200px; /* Set a maximum width */
}

/* Styling for the 'Create Note' button */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "Dosis", monospace; /*Monospace isn't working for some reason*/
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    }
    
    .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    }
    
    .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
    }