body {
    background-color: #CCD9BA; /* Replace with your desired background color */
    margin: 0; /* Remove default margin to ensure full coverage of background color */
    padding: 0; /* Remove default padding */
    box-shadow: none;
}

/* Style for the note container */
.note {
    width: 200px;
    height: auto; /* Let the height adjust to content */
    min-height: 200px; /* Set the minimum height to maintain the default size */
    margin: 5px;
    padding: 20px;
    display: inline-block; /* Display notes inline */
    vertical-align: top; /* Align notes at the top of the line */
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

/* Import the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* Apply the imported Google Font to the text in the notes */
.note-content {
    font-family: "Patrick Hand", sans-serif; /* Use the exact font name you selected */
    font-size: 1.5vw; /* Adjust this value as needed */
    flex: 1; /* Allow the content to grow vertically and occupy available space */
    overflow: visible;
    text-align: left;
}

/* Styling for the time remaining section */
.note .timeRemaining {
    font-weight: bold; /* Bold font for time remaining text */
}

/* Styling for the note footer (time remaining section and delete button) */
.note-footer {
    position: absolute; /* Absolute positioning to move the footer to the bottom left of the note */
    bottom: 5px; /* Distance from the bottom of the note */
    left: 5px; /* Distance from the left of the note */
}

/* Styling for the container that holds the notes */
.container {
    display: block; /* Reset display property */
    text-align: center; /* Center-align the notes within the container */
    margin-top: 20px;
    height: 100%;
    box-shadow: none;
}


/* Styling for the delete button (X symbol) */
.delete-button {
    position: absolute; /* Absolute positioning to place the delete button within the note */
    top: 5px; /* Distance from the top of the note */
    right: 8px; /* Distance from the right of the note */
    font-size: 24px; /* Font size of the X symbol */
    cursor: pointer; /* Set cursor to indicate the button is clickable */
}

.center-content {
    font-family: "Dosis", sans-serif; /* Use the exact font name you selected */
    text-align: center; /* Center-align the content horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
    padding: 5px;
    box-shadow: none;
}

/* Styling for the 'Create Note' button */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "Dosis",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    }
    
    .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    }
    
    .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
    }